:root {
    --primary-color: rgb(0, 0, 145);
    --secondary-color: rgb(216, 213, 213);
    --header-font: 'Dancing Script', cursive; 
}

body{
    background-color: var(--secondary-color);
}

.button {
    border-radius: 10px;
    font-weight: bold;
}

header {
    background-color: #293745;
}

header h1 {
    font-family: 'Big Shoulders Stencil Display', cursive;
    margin-bottom: 0px;
}

header a {
    color: rgb(172, 172, 23);;
}

header a:hover {
 color: var(--secondary-color);
}

header div {
    padding-top: 15px;
    background-color:var(--secondary-color);
}

.button {
    background-color: var(--primary-color);
    color: var(--secondary-color) ;
}

.button:hover {
    background-color: rgb(41, 41, 145);
    color: #fff;
}

.button::selection {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.grid-container {
    padding: 0px 0px;
}

.grid-container {
    padding-top: 20px;

}

#ratings-header {
    text-align: center;
}

#ratings-options {
    margin-right: 20px;
}

#movies-display {
    margin: 20px 50px;
}

/* needs to be 1/1.5 ratio */
.movie-poster {
    width: 125px;
    height: 190px;

}

.show-accordion {
    display: block;
}

.stream-badge {
    margin-left: 5px;
    margin-right: 5px;
    background-color: lightseagreen;
    border-radius: 20px;
    padding: 15px;
}

.stream-reveal {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 30px;
}

.accordion-title::before {
    font-size: 30px;
}
.plus {
    color: black;
}



/* Homepage styles */
.genre-card {
    width: 290px;
    border-radius: 20px;
    transition:.5s;
}

.hidden {
    visibility: hidden;
}

.genre-card:hover {
    width: 300px;
    box-shadow: 0 0 11px rgba(33,33,33,.8);
}

.grid-container {
    background-color: #fff;
    max-width: 950px;
    border: 0px 20px solid black;
}

.card {
    border: 0px;
}

@media screen and (max-width: 872px) {
    .grid-container {
        max-width: 400px;
    }
}

@media screen and (min-width: 871px) {
    .grid-container {
        border-left: rgb(179, 176, 176) solid 1px;
        border-right:rgb(179, 176, 176) solid 1px;
    }

    .grid-x {
        margin-top: 15px;
    }

    .bottom-border {
        border-bottom: var(--secondary-color) solid 3px;
    }
}

